<main class="form-signin">
    {{ form_start(form, {'attr': {'class': 'needs-validation','novalidate':'novalidate'}}) }}

    <h1>Please Register</h1>
    <div class="form-floating">
        <input type="text" class="form-control" id="floatingInputName" placeholder="John Smith" name="{{ field_name(form.user.name) }}" value="{{ field_value(form.user.name) }}" required>
        <label for="floatingInput">{{ field_label(form.user.name) }}</label>
        <div class="invalid-feedback">{{ form_errors(form.user.name) }}</div>
    </div>
    <div class="form-floating">
        <input type="email" class="form-control" id="floatingInputEmail" placeholder="name@example.com" name="{{ field_name(form.user.email) }}" value="{{ field_value(form.user.email) }}" required>
        <label for="floatingInput">{{ field_label(form.user.email) }}</label>
        <div class="invalid-feedback">{{ form_errors(form.user.email) }}</div>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="{{ field_name(form.user.password.password) }}" value="{{ field_value(form.user.password.password) }}" required>
        <label for="floatingInput">{{ field_label(form.user.password) }}</label>
        <div class="invalid-feedback">{{ form_errors(form.user.password.password) }}</div>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPasswordConfirm" placeholder="Confirm password" name="{{ field_name(form.user.password.confirm) }}" value="{{ field_value(form.user.password.confirm) }}" required>
        <label for="floatingInput">{{ field_label(form.user.password.confirm,'Confirm password') }}</label>
        <div class="invalid-feedback">{{ form_errors(form.user.password.confirm) }}</div>
    </div>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me" name="{{ field_name(form.terms) }}" required> Terms Agree
        </label>
        <div class="invalid-feedback">{{ form_errors(form.terms) }}</div>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2023</p>
    {{ form_end(form) }}
</main>
<script>
    (function () {
        'use strict'
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>